<%- contentFor('indexPage') %>
<link rel="stylesheet" type="text/css" href="../css/index.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
<div class="indexContainer">
    <h1 class="indexHeader animated fadeIn">
        <span class="indexHeaderTxt">WELCOME</span>
        <span class="indexHeaderIndct">CooMap is a map of multiple editors</span>
    </h1>
    <div class="inputContainer">
        <div class="inputNote">请输入用户名</div>
        <input type="text" class="inputUserName" id="inputUserName">
        <button class="gotoUserPage">登陆</button>
    </div>
</div>
<script type="text/javascript" src="../js/index.js"></script>
