<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>多人协作地图</title>
    <style>
        html, body{
            padding: 0;
            margin: 0;
            height: 100%;
            width: 100%;
        }
    </style>
    <link rel="stylesheet" href="https://js.arcgis.com/4.5/esri/css/main.css">
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script src="https://js.arcgis.com/4.5/"></script> 
    <script type="text/javascript" src="../js/util/socket.js"></script>
</head>
<body>
    <%- defineContent('userPage') %>
    <%- defineContent('indexPage') %>
</body>
</html>