<%- contentFor('userPage') %>
<h1><%= name.toUpperCase() %></h1>
<link rel="stylesheet" type="text/css" href="../css/users.css">
<div id="extent" data-extent="<%= extent %>" display="none"></div>
<script type="text/javascript" src="../js/users.js"></script>