/*
* @Author: claireyyli
* @Date:   2017-12-02 15:43:32
* @Last Modified by:   claireyyli
* @Last Modified time: 2017-12-02 18:40:52
*/
#viewContainer{
	padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}